<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-photokandy-video-thumbnail-tests"
    version="2.0.0">
    <name>PKVideoThumbnail Plugin Tests</name>
    <license>MIT</license>
    <js-module src="tests.js" name="tests"></js-module>
    <asset src="assets" target="assets" />
</plugin>
